html,
body {
  background: radial-gradient(
    circle,
    rgba(34, 26, 57, 1) 40%,
    rgb(0, 0, 0) 100%
  ) !important;
  background-repeat: no-repeat;
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

/* * {
  box-sizing: border-box;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 350px) {
  header,
  body,
  footer {
    object-fit: cover;
    width: 350px;
  }
}
